<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.css">
  </head>
  <body class="container">
    <header class="page-header">
      <h2>Hello Templates!</h2>
    </header>
    <main>

    </main>
    <script id="entry-template" type="text/x-handlebars-template">
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
    </script>
    <script id="stickers-template" type="text/x-handlebars-template">
      {{#each stickers}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{url}}" alt="{{title}}">
          <div class="caption">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
